.contain {
    height: 50px;
    background-color: #d8f0c0;
    padding-top: 10px;
}

.unorderedList {
    margin-left: 70%;
    margin-top: -22px;
}

.button {
    display: inline-block;
    border: none ;
    margin-left: 10px;
    cursor: pointer;
}


.divider {
    margin-left: 20px;
}

.background {
    background-color: grey;
    width: 100px;
    height: 25px;
}